// VARIABLES
$bg-color: #E7EFF5;
$main-color: #176299;
$card-bg-color: #0f436e;
$main-font: "PingFang TC";
$ultraligh: 100;
$light: 200;
$thin: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;