@import '~@assets/scss/_var.scss';
@import '~@assets/scss/_general.scss';

body {
  background-image: url('~@img/home/home_bg@2x.png');
  background-size: 480px 432px;
  background-repeat: no-repeat;
  background-position: 50% 54%;
}

@import './loading.scss';
@import './_start.scss';
@import './quiz.scss';
@import './en.scss';

