@import '~@assets/scss/_var.scss';
@import '~@assets/scss/_general.scss';

html,
body {
  position: static;
  overflow: auto;
}

body {
  height: auto;
  background-image: url('~@img/home/home_bg@2x.png');
  background-size: 480px 432px;
  background-repeat: no-repeat;
  background-position: 50% 54%;
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.page-result {
  &__progress {
    width: 100vw;
    height: 100px;
    overflow: hidden;
    position: relative;

    .progress__bg {
      width: 100vw;
    }
    .progress__completed {
      width: 153vw;
      height: 17.36vw;
      position: absolute;
      top: 35px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  &__result {
    text-align: center;
    .result__content > p, 
    .result__call {
      margin: 0;
      font-size: 18px;
      font-weight: $medium;
      font-family: $main-font;
      line-height: 27.5px;
      color: #000;
    }
    .result__content > p {
      .result__highlight {
        color: #00629D;
      }
      .result__delay-time {
        font-weight: $semi-bold;
      }
    }
    .result__content {
      margin: 0px auto;
      padding: 11px 0px 46px 0px;
      width: 300px;
      text-align: center;
    }
    .result__img-wrapper {
      position: relative;
      width: 100%;
      height: auto;
      overflow: hidden;
      .result__img {
        margin-left: 24px;
      }
      .result__count {
        width: 252px;
        height: 111px;
        border-radius: 10px;
        background-color: rgba($color: $main-color, $alpha: 0.9);
        box-shadow: 0px 5px 5px #1762A0BF;
        color: #fff;
        text-align: center;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -58%);

        h2.count__num {
          line-height: 86px;
          margin: 0;
          padding-top: 11.65px;
          font-size: 72.35px;
          font-weight: $black;
        }
        span.count__unit {
          font-size: 20.41px;
          font-family: $main-font;
          font-weight: $medium;

          display: block;
          position: absolute;
          right: 25.86px;
          bottom: 17.8px;
        }
      }
    }
    .result__arrow {
      margin: 46px auto 82px auto;
    }
    .result__call {
      margin: 0px auto 86px auto;
      width: 292px;
    }
  }
  &__app {
    text-align: center;
    background-color: #d2e1ec;
    padding: 26px 0px 44px 0px;
    .app__icon {
      display: inline-block;
      margin: 0 auto;
      margin-bottom: 20px;
    }
    .app__intro {
      margin: 0 auto;
      font-size: 15px;
      font-family: $main-font;
      line-height: 24px;
      height: 106px;
      margin-bottom: 27px;
    }
    .app__store {
      display: inline-block;
      margin: 0 auto;
    }
  }
  &__footer {
    text-align: center;
    padding: 34px 0px 29px 0px;

    .footer__share,
    .footer__more {
      width: 302px;
      height: 65px;
      border-radius: 12px;
      margin: 0 auto;
      font-size: 15px;
      font-family: $main-font;
    }
    .footer__share {
      margin-bottom: 15px;
      background-color: $main-color;
      color: #fff;
      line-height: 65px;
      overflow: hidden;
      .footer__share-wrapper {
        display: flex;
        flex-direction: column;
        width: 200%;
        .footer__share-slogan, .footer__share-btns {
          width: 302px;
          height: 65px;
        }
        .footer__share-btns {
          display: flex;
          align-items: center;
          justify-content: center;
          a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 65px;
            height: 65px;
            margin: 0 3px;
          }
        }
      }
    }
    .footer__share.active {
      .footer__share-wrapper {
        transition: 0.2s ease-in-out;
        transform: translateY(-50%);
      }
    }
    .footer__more-wrapper {
      display: inline-block;
      margin-bottom: 77px;
      .footer__more {
        outline: 0;
        border: 1px solid #68AAE6;
        background-color: rgba($color: #fff, $alpha: 0.5);
        color: #68AAE6;
      }
    }
    .footer__fd {
      display: inline-block;
      width: 125px;
      height: 18px;
    }
  }

  @media screen and (min-width: 414px) {
    &__result {
      .result__content {
        padding: 33px 0px 92px 0px;
      }
    }
  }
}